<div
  class="mx-auto max-w-7xl sm:px-6 lg:px-8 snap-start h-screen pt-16 pb-6"
  id="home-section"
>
  <header>
    <div class="mx-auto max-w-7xl pt-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-widest text-gray-900">
        Meghanath Nalawade
      </h1>
    </div>
  </header>
  <div class="flex flex-col md:flex-row h-full sm:pt-24">
    <div class="w-full md:w-1/4 p-4 px-24 md:px-4">
      <img
        src="../assets/me.jpg"
        class="rounded-full shadow-2xl p-1 bg-slate-400 shadow-slate-800"
        alt="Meghanath"
      />
    </div>
    <div
      class="w-full md:w-3/4 p-4 text-xl md:text-2xl md:font-bold text-justify font-semibold"
    >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "I'm Meghanath Nalawade, a
      full-stack developer who is passionate about creating web applications.
      I'm excited to learn and build my abilities as a fresher, and I'm now
      looking for internships to advance my career in development. My areas of
      interest are Spring Boot, Django, and Angular, React. I am committed and
      diligent, and I am eager to put my knowledge to work developing novel and
      significant solutions."
    </div>
  </div>
</div>
