<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 snap-start h-screen pt-16 pb-6 overflow-y-scroll md:overflow-y-hidden"
  id="home-section">
  <header>
    <div class="mx-auto max-w-7xl pt-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-widest text-gray-900">
        Meghanath Nalawade
      </h1>
    </div>
  </header>
  <div class="flex flex-col md:flex-row h-full sm:pt-24">
    <div class="w-full md:w-1/4 p-4 px-24 md:px-4">
      <img src="../assets/me.webp" class="rounded-full shadow-2xl p-1 bg-slate-400 shadow-slate-800" alt="Meghanath" />
    </div>
    <div class="w-full md:w-3/4 p-4 text-xl md:text-2xl md:font-bold text-justify font-semibold">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "I’m Meghanath Nalawade, a full-stack developer with a strong passion
      for crafting web applications. Currently, I am harnessing my expertise in React and .NET MVC to deliver robust
      full-stack solutions. My enthusiasm for technology drives me to continuously learn and enhance my skills. With a
      keen interest in Spring Boot, Django, Angular, and React, I am committed to excellence and diligence in my work. I
      am always on the lookout for opportunities that challenge me to grow and allow me to apply my knowledge in
      developing innovative and impactful solutions."
      <div class="flex flex-row justify-center">
        <a class="px-2 py-1 mr-2 mt-2" href="https://github.com/the-mr-compiler" target="_blank">
          <img src="../assets/icons/github.svg" alt="linkedin" />
        </a>
        <a class="px-2 py-1 mr-2 mt-2" href="https://www.linkedin.com/in/dktemeghanathnalawade/" target="_blank">
          <img src="../assets/icons/linkedin.svg" alt="linkedin" />
        </a>
        <a class="px-2 py-1 mr-2 mt-2" href="mailto:meghanathms06@gmail.com" target="_blank">
          <img src="../assets/icons/gmail.svg" alt="Gmail" />
        </a>

      </div>
    </div>
  </div>
</div>