<div
  class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 snap-start h-screen pt-14"
  id="projects-section"
>
  <header>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-widest text-gray-900">Projects</h1>
    </div>
  </header>
  <div class="flex flex-col md:flex-row h-full items-center pb-24">
    <div class="w-full flex flex-col md:flex-row overflow-scroll max-h-screen">
      <div class="flex flex-col w-full px-4 py-2">
        <div class="flex flex-col md:flex-row">
          <div class="w-full md:w-1/2 p-5 h-full">
            <div class="flex flex-col shadow-lg rounded bg-sky-200 p-5 h-full">
              <h1 class="text-2xl font-bold text-gray-900">Tic-Tac-Toe</h1>
              <p class="text-gray-600">
                This is a simple tic-tac-toe game built with React and Firebase.
                It allows users to play tic-tac-toe against each other in
                real-time, using Firebase's firestore database to keep the game
                state synced between players.
              </p>
              <div class="flex flex-row mt-2">
                <a
                  class="px-2 py-1 bg-gray-900 text-gray-100 rounded-md mr-2"
                  href="https://github.com/the-mr-compiler/async-tic-tac-toe"
                  target="_blank"
                  >Github</a
                >
                <a
                  class="px-2 py-1 bg-gray-900 text-gray-100 rounded-md mr-2"
                  href="https://tic-tac-toe-851bb.web.app/"
                  target="_blank"
                  >Live</a
                >
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 p-5 h-full">
            <div class="flex flex-col shadow-lg rounded bg-sky-200 p-5 h-full">
              <h1 class="text-2xl font-bold text-gray-900">Notes</h1>
              <p class="text-gray-600">
                Notes app is developed using Angular 14 and utilizes local
                storage to save your notes. With this app, you can easily take
                and organize notes on the go. All your notes are saved on your
                device, so you can access them even without an internet
                connection.
              </p>
              <div class="flex flex-row mt-2">
                <a
                  class="px-2 py-1 bg-gray-900 text-gray-100 rounded-md mr-2"
                  href="https://github.com/the-mr-compiler/Notes"
                  target="_blank"
                  >Github</a
                >
                <a
                  class="px-2 py-1 bg-gray-900 text-gray-100 rounded-md mr-2"
                  href="https://puhu-notes.web.app/"
                  target="_blank"
                  >Live</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row">
          <div class="w-full md:w-1/2 p-5 h-full">
            <div class="flex flex-col shadow-lg rounded bg-sky-200 p-5 h-full">
              <h1 class="text-2xl font-bold text-gray-900">Rescue Army</h1>
              <p class="text-gray-600">
                Flutter and Python Django based application for help during
                disasters
              </p>
              <div class="flex flex-row mt-2">
                <a
                  class="px-2 py-1 bg-gray-900 text-gray-100 rounded-md mr-2"
                  href="https://github.com/the-mr-compiler/rescue_army_flutter"
                  target="_blank"
                  >Github</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
