<div
  class="mx-auto max-w-7xl sm:px-6 lg:px-8 snap-start h-screen pt-16 pb-6"
  id="education-section"
>
  <header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-widest text-gray-900">
        Education
      </h1>
    </div>
  </header>
  <div
    class="flex flex-col md:flex-row h-full items-center pb-24 overflow-scroll"
  >
    <div class="w-full flex flex-col md:flex-row">
      <div
        class="m-4 p-4 md:w-1/2 md:p-10 bg-sky-200 shadow-2xl hover:shadow-md rounded-md border flex flex-col md:flex-row hover:border-4 hover:bg-slate-300 transition-all duration-300"
      >
        <div class="md:w-1/4 h-auto items-center justify-center flex">
          <img class="w-36 md:h-36" src="../assets/dkte.png" alt="DKTE" />
        </div>
        <div class="md:w-3/4 md:px-12">
          <div class="font-bold text-2xl">B. Tech</div>
          <div class="font-bold text-lg">Computer Science and Engineering</div>
          <div class="font-light">June 2020 - Present</div>
          <div>DKTE's Textile and Engineering Institute, Ichalakaranji</div>
          <div class="font-light">CGPA 8.33</div>
        </div>
      </div>
      <div
        class="m-4 p-4 md:w-1/2 md:p-10 bg-sky-200 shadow-2xl hover:shadow-md rounded-md border flex flex-col md:flex-row hover:border-4 hover:bg-slate-300 transition-all duration-300"
      >
        <div class="md:w-1/4 h-auto items-center justify-center flex">
          <img class="w-36 md:h-36" src="../assets/gpm.png" alt="DKTE" />
        </div>
        <div class="md:w-3/4 md:px-12">
          <div class="font-bold text-2xl">Diploma</div>
          <div class="font-bold text-lg">Computer Engineering</div>
          <div class="font-light">June 2017 - May 2020</div>
          <div>Government Polytechnic, Miraj</div>
          <div class="font-light">94.23 %</div>
        </div>
      </div>
    </div>
  </div>
</div>
