<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 snap-start h-screen pt-16 pb-6" id="skills-section">
  <header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-widest text-gray-900">Skills</h1>
    </div>
  </header>
  <div class="flex flex-col md:flex-row h-full items-start pb-24 gap-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full">
      <div
        class="p-4 bg-sky-200 shadow-2xl rounded-md border hover:border-4 hover:bg-slate-300 transition-all duration-300">
        <h2 class="font-semibold text-lg mb-2">Backend</h2>
        <p>Python, FastAPI, Celery, RabbitMQ, RESTful APIs, Microservices, SQLAlchemy, ASP.NET Core, C#</p>
      </div>
      <div
        class="p-4 bg-sky-200 shadow-2xl rounded-md border hover:border-4 hover:bg-slate-300 transition-all duration-300">
        <h2 class="font-semibold text-lg mb-2">Frontend</h2>
        <p>React, Redux, TailwindCSS, TypeScript, JavaScript, HTML, CSS</p>
      </div>
      <div
        class="p-4 bg-sky-200 shadow-2xl rounded-md border hover:border-4 hover:bg-slate-300 transition-all duration-300">
        <h2 class="font-semibold text-lg mb-2">Database</h2>
        <p>SQL Server, PostgreSQL, MongoDB, Oracle SQL</p>
      </div>
      <div
        class="p-4 bg-sky-200 shadow-2xl rounded-md border hover:border-4 hover:bg-slate-300 transition-all duration-300">
        <h2 class="font-semibold text-lg mb-2">Tools & DevOps</h2>
        <p>Docker, Kubernetes, KEDA, AWS EC2/S3/Lambda, Jenkins, CI/CD, Git, GitHub Copilot</p>
      </div>
      <div
        class="p-4 bg-sky-200 shadow-2xl rounded-md border hover:border-4 hover:bg-slate-300 transition-all duration-300">
        <h2 class="font-semibold text-lg mb-2">Practices</h2>
        <p>System Design, Event-Driven Architecture, CQRS, OWASP, SonarQube, Agile/Scrum</p>
      </div>
    </div>
  </div>
</div>