<div
  class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 snap-start h-screen pt-14"
  id="skills-section"
>
  <header>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-widest text-gray-900">Skills</h1>
    </div>
  </header>
  <div class="flex flex-col md:flex-row h-full items-center pb-24">
    <div class="">
      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/java.svg" alt="Java" />
        <img class="w-16" src="../assets/icons/spring-boot.svg" alt="Spring" />
        <img class="w-16" src="../assets/icons/android-os.svg" alt="Spring" />
      </div>
      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/python.svg" alt="Python" />
        <img class="w-24" src="../assets/icons/django.svg" alt="Django" />
        <img class="w-24" src="../assets/icons/flask.svg" alt="Flask" />
      </div>
      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/js.svg" alt="Js" />
        <img class="w-16" src="../assets/icons/react.svg" alt="React" />
        <img class="w-16" src="../assets/icons/angularjs.svg" alt="Angular" />
        <img class="w-16" src="../assets/icons/jquery.svg" alt="Jquery" />
        <img
          class="w-16"
          src="../assets/icons/express-js.svg"
          alt="ExpressJS"
        />
        <img class="w-16" src="../assets/icons/html5.png" alt="Html" />
        <img class="w-16" src="../assets/icons/css3.svg" alt="Css" />
      </div>

      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/dart.svg" alt="Dart" />
        <img class="w-16" src="../assets/icons/flutter.svg" alt="Flutter" />
        <div class="w-16"></div>
        <img class="w-16" src="../assets/icons/cs.svg" alt="C#" />
        <img class="w-16" src="../assets/icons/net.svg" alt=".Net Framework" />
      </div>
      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/mysql.svg" alt="MySql" />
        <img
          class="w-16"
          src="../assets/icons/postgresql.svg"
          alt="Postgress"
        />
        <img class="w-16" src="../assets/icons/sqlserver.svg" alt="SqlServer" />
        <img class="w-16" src="../assets/icons/firebase.svg" alt="firebase" />
      </div>
      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/jwt.svg" alt="JWT" />
        <img class="w-16" src="../assets/icons/nodejs.svg" alt="NodeJS" />
        <img class="w-16" src="../assets/icons/postman.png" alt="Postman" />
        <img class="w-16" src="../assets/icons/figma.svg" alt="Figma" />
        <img class="w-16" src="../assets/icons/vscode.svg" alt="VSCode" />
        <img class="w-16" src="../assets/icons/intellij.svg" alt="intellij" />
      </div>
      <div class="flex flex-row py-2">
        <img class="w-16" src="../assets/icons/git.svg" alt="Git" />
        <img class="w-16" src="../assets/icons/github.svg" alt="Github" />
      </div>
    </div>
  </div>
</div>
