<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 snap-start h-screen pt-16 pb-6" id="experience-section">
    <header>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-widest text-gray-900">
                Experience
            </h1>
        </div>
    </header>
    <div class="flex flex-col md:flex-row h-full items-center pb-24 overflow-scroll">
        <div class="w-full flex flex-col md:flex-row">
            <div
                class="m-4 p-4 md:w-1/2 md:p-10 bg-sky-200 shadow-2xl hover:shadow-md rounded-md border flex flex-col md:flex-row hover:border-4 hover:bg-slate-300 transition-all duration-300">
                <div class="md:w-3/4 md:px-12">
                    <div class="font-bold text-2xl">E2open Pvt. Ltd.</div>
                    <p class="font-semibold">Full-Stack Developer</p>
                    <p class="text-sm">July 2023 - Present</p>
                    <ul class="list-disc pl-5 text-sm">
                      <li>Expert in ASP.NET MVC & React</li>
                      <li>State management with Redux, RTK Query</li>
                      <li>Oracle SQL & SQL Server</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>